h1{
    color: rgb(208, 90, 12);
    text-align: center;

}
p{
    color:rgb(0, 42, 255);
    text-align:  center;
    
}

div{
    color: rgb(0, 42, 255);
    text-align: center;
}
a{
    color: rgb(0, 42, 255); 
}
ul {
    text-align: center;
}

li {
    display: inline-block;
    margin: 10px;
}

 h2{
    color: rgb(208, 90, 12);
    text-align: center;
 }
 h3{
    color:rgb(208, 90, 12);
    text-align: center;
 }
h4{
    color: rgb(208, 90, 12);
    text-align: center;
    text-decoration: dotted;
}
h1 {
    animation: growShrink 3s infinite;
}

@keyframes growShrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
    }
}
html{
    scroll-behavior: smooth;
}
li{
    color:rgb(0, 42, 255);
    text-align: center;
}
.youtube-button {
    display: inline-block;
    background-color: #ff0000;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.youtube-button:hover {
    background-color: #cc0000;
}
img {
    display: block;
    width: 300px;
    height: auto;
    margin: 20px auto;
}


















































