h1{
    color: rgb(208, 90, 12);
    text-align: center;

}
p{
    color:rgb(0, 42, 255);
    text-align:  center;
    
}

div{
    color: rgb(0, 42, 255);
    text-align: center;
}
a{
    color: rgb(0, 42, 255); 
    text-align: center;
}
 h2{
    color: rgb(208, 90, 12);
    text-align: center;
 }
 h3{
    color:rgb(208, 90, 12);
    text-align: center;
 }
h4{
    color: rgb(208, 90, 12);
    text-align: center;
    text-decoration: dotted;
}
#title:hover{
   animation: hi 1s ease-in-out alternate; 
}
body{
    background-color:rgb(151, 5, 156)
}
@keyframes hi{
    0%{
        transform: scale(0.1) translateY(-10px);
    }
    100%{
        transform: scale(3) translateY(-10px);
    }
}





















































